---
import ExtractEvents from "../components/Extract";
import BaseHead from "../components/BaseHead.astro";
---

<html lang="en">
  <head>
    <BaseHead title="Extract Events" />
  </head>
  <body class="bg-white text-black min-h-screen p-4">
    <main class="max-w-2xl mx-auto">
      <h1 class="text-2xl font-bold mb-4">Extract Cologne Events JSON</h1>
      <ExtractEvents />
    </main>
  </body>
</html>
