---
import BaseHead from "@/components/BaseHead.astro";
import ExtractEvents from "@/components/Extract";
---

<html lang="en">
  <head>
    <BaseHead title="Extract Events | Cologne Raves" />
  </head>
  <body class="bg-white text-black p-8 max-w-3xl mx-auto min-h-screen">
    <main class="space-y-8">
      <ExtractEvents client:load />
    </main>
  </body>
</html>
