---
import ExtractEvents from "@/components/Extract";
---

<html lang="en">
  <head>
    <title>Extract Events | Cologne Raves</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="p-8 max-w-3xl mx-auto">
    <ExtractEvents />
  </body>
</html>
