---
import PartyCard from '../components/PartyCard.astro';
import { getAllParties } from '../lib/getAllParties';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const parties = await getAllParties();
---

<html lang="en">
  <head>
    <title>All Parties | Cologne Raves</title>
    <meta charset="utf-8" />
  </head>
  <body class="bg-white text-gray-900 font-sans max-w-3xl mx-auto px-4 py-6 sm:px-6 lg:px-8">
    <Header current="all" />

    <h2 class="text-xl font-semibold mb-4">All Parties</h2>

    <ul class="space-y-4">
      {parties.map(party => (
        <li><PartyCard {...party} /></li>
      ))}
    </ul>

    <Footer />
  </body>
</html>
